/* .navbar {
  margin: 0 20px;
  padding: 5px 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 0.5fr;
  font-weight:800;
  }

.navbar__logo {
  font-size: 20px;
  text-decoration: none;
  margin: 0;
  color: rgb(61, 46, 46);
  padding: 0 10px; 
}
  
.navbar-links {
  display: flex;
  gap: 50px;
  justify-self:flex-end;
  padding-right: 25px;
}
  
.narbar-links__item {
  list-style-type: none;
  :hover {
    text-decoration: underline;
  }
}
  
.narbar-links__text {
  text-decoration: none;
  color:rgb(61, 46, 46);;
  font-size: 20px;
}
   */